<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/vue.js"></script>
    <title>回答问题</title>
    <link rel="stylesheet" href="css/answer-question.css"></link>
</head>

<body>
    <div id="root">
        <!-- <div class="sharebox">1</div> -->
        <div class="all">
            <div class="setting">

                <ul class="first">
                    <li class="userImage" style="float: left;">
                        <img :src="imgUrl" width="80px" class="Image">
                    </li>
                    <li class="username">{{username}}的所有{{question}}问题({{questionArr.length}})</li>

                </ul>

                <div>
                    <ul class="allquestions">
                        <li>
                            <div class="questions" v-if="nothing">{{message}} </div>
                        </li>
                        <li v-for="item in questionArr">
                            <a href="#" style="text-decoration: none;">
                                <div class="questions" @click="changequestionId($event);getotherquestion" @click="getotherquestion" :id="item.id">
                                    <span v-text="item.content">正在获取</span>
                                    <div style="float: right;margin-right: 10px; font-size: small;color: #696969;font-style: italic;" v-text="item.updateTime"></div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
            <div class="settingform">
                <div :class="questionbox">
                    <p class="questiontip">
                        <li v-for="(item,index) in Alltips">
                            <span style="float: left;">问题{{index+1}}：{{item.questionResult.content}}</span><br>
                            <div class="time">——{{item.questionResult.createTime}}</div>
                            <span style="float: left;" v-if="item.answerResult">回答 ：{{item.answerResult.content}}</span><br>
                            <div class="time" v-if="item.answerResult">——{{item.answerResult.updateTime}}</div>
                        </li>

                    </p>
                </div>
                <div v-show="mine">
                    <textarea type="text" class="answerbox" v-model="content" placeholder="此处添加和编辑回答（注：编辑回答只能编辑最后一个子问题的答案）"></textarea>
                    <input type="button" class="answertip" value="点击保存答案" @click="write" :disabled="isDisable">
                    <div class="choose">
                        <ul>
                            <li>
                                问题设置：
                                <input type="radio" name="sex" style="margin-left: 0px;" value="0" v-model="answerStatus" />公开回答
                                <input type="radio" name="sex" style="margin-left: 10px;" value="1" v-model="answerStatus" />定向回答
                            </li>
                            <li>举报问题：
                                <select>
                        <option>政治敏感问题</option>
                        <option>低俗暴力色情</option>
                        <option>人身攻击</option>
                        <option>其他</option>
                    </select>
                                <input type="button" class="report" value="选择原因举报" @click="report">
                            </li>
                            <li> 拉黑提问者：
                                <input type="button" class="report" value="点击拉黑" @click="addblacklist">
                                <input type="button" class="report" value="点击删除问题" @click="deletequestion">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="turn">
            <a href="../home/home.html">
                <span class="back" style="margin-left: 10px;">返回个人主页</span>
            </a>
            <a href="#l">
                <span class="back" @click="share">分享链接</span>
            </a>
        </div>
    </div>
</body>
<script src="https://unpkg.com/axios/dist/axios.min.js "></script>
<script>
    var vm = new Vue({
        el: "#root ",
        data: {
            imgUrl: "images/logo.jpg",
            username: "",
            ausername: "",
            answerStatus: "0",
            content: "",
            Id: "",
            questionArr: [],
            questionId: " ",
            nothing: false,
            Alltips: [],
            nothing: false,
            link: "",
            isDisable: false,
            mine: true,
            question: "已回答",
            questionbox: "questionbox"
        },
        methods: {
            //获取所有已回答问题列表
            createcode: function() {
                var that = this;
                axios.get("http://localhost:8082/question/getAnsweredQuestion", {
                    headers: {
                        'Authorization': localStorage.getItem('Authorization')
                    }
                }).then(
                    function(response) {
                        if (response.data.data == null) {
                            that.nothing = true,
                                that.message = response.data.message;

                        } else {
                            that.questionArr = response.data.data;
                        }
                        console.log(response.data)
                    },
                    function(err) {
                        console.log(err);
                    })
            },
            //未回答
            createcode2: function() {
                var that = this;
                axios.get("http://localhost:8082/question/getUnansweredQuestion", {
                    headers: {
                        'Authorization': localStorage.getItem('Authorization')
                    }
                }).then(
                    function(response) {
                        if (response.data.data == null) {
                            that.nothing = true,
                                that.message = response.data.message;
                            that.questionArr = [];
                        } else {
                            that.nothing = false
                            that.questionArr = response.data.data;
                        }
                        console.log(response.data)
                    },
                    function(err) {
                        console.log(err);
                    })
            },
            //已收到回答
            createcode3: function() {
                var that = this;
                axios.get("http://localhost:8082/question/getReceivedAnswerQuestionList", {
                    headers: {
                        'Authorization': localStorage.getItem('Authorization')
                    }
                }).then(
                    function(response) {
                        if (response.data.data == null) {
                            that.nothing = true,
                                that.message = response.data.message;
                        } else {
                            that.nothing = false
                            that.questionArr = response.data.data;
                        }
                        console.log(response.data)
                    },
                    function(err) {
                        console.log(err);
                    })
            },
            //未收到回答
            createcode4: function() {
                var that = this;
                axios.get("http://localhost:8082/question/getUnreceivedAnswerQuestionList", {
                    headers: {
                        'Authorization': localStorage.getItem('Authorization')
                    }
                }).then(
                    function(response) {
                        if (response.data.data == null) {
                            that.nothing = true,
                                that.message = response.data.message;
                        } else {
                            that.nothing = false
                            that.questionArr = response.data.data;
                        }
                        console.log(response.data)
                    },
                    function(err) {
                        console.log(err);
                    })
            },
            // 获取该问题的回答
            getotherquestion: function() {
                var that = this;
                axios.get("http://localhost:8082/question/getQuestionAndAnswer/" + this.questionId, {
                    params: {
                        flag: false
                    }
                }).then(
                    function(response) {
                        if (response.data.data !== null) {
                            that.Alltips = [];
                            console.log(response.data.message);
                            that.Alltips = response.data.data.resultList;
                            that.ausername = response.data.data.ausername;
                        }
                        console.log(response.data)
                    },
                    function(err) {
                        console.log(err);
                    })
            },
            // 查看其他问题答案
            changequestionId(e) {
                var that = this
                console.log("@" + e.currentTarget.id);
                that.questionId = e.currentTarget.id
                localStorage.setItem("questionId", this.questionId);
                axios.get("http://localhost:8082/question/getQuestionAndAnswer/" + this.questionId, {
                    params: {
                        flag: false
                    }
                }).then(
                    function(response) {
                        if (response.data.data !== null) {
                            that.Alltips = [];
                            console.log(response.data.message);
                            that.Alltips = response.data.data.resultList;
                            that.ausername = response.data.data.ausername;

                        }
                        console.log(response.data)
                    },
                    function(err) {
                        console.log(err);
                        console.log("该问题无法查看")
                    })
            },
            //获取当前问题ID
            getquestionId: function() {
                var that = this;
                that.questionId = localStorage.getItem("questionId");
                console.log(localStorage.getItem("questionId"));
            },
            //编辑当前问题的答案
            write: function() {
                var that = this;
                if (this.ausername !== this.username) {
                    alert("该问题所属" + this.ausername + "的，你不能回答");
                } else {
                    // that.questionId = this.AllQuestions[this.AllQuestions.length - 1].id;
                    that.questionId = this.Alltips[this.Alltips.length - 1].questionResult.id;
                    // if (this.AllQuestions.length === this.AllAnswers.length) {
                    if (this.Alltips[this.Alltips.length - 1].answerResult != null) {
                        // that.Id = this.AllAnswers[this.AllAnswers.length - 1].id;
                        that.Id = this.Alltips[this.Alltips.length - 1].answerResult.id;
                        console.log(this.Id)
                        console.log(this.questionId)
                            // debugger
                        axios.post("http://localhost:8082/question/addOrUpdateAnswer", {
                            answerStatus: this.answerStatus,
                            content: this.content,
                            id: this.Id,
                            questionId: this.questionId,
                        }, {
                            headers: {
                                'Authorization': localStorage.getItem('Authorization')
                            }
                        }).then(
                            function(response) {
                                alert("编辑回答成功")
                                    // console.log(response.data);
                                // that.createcode();
                                // that.getquestionId();
                                // that.getotherquestion();
                                that.alterQuestionType();

                            },
                            function(err) {
                                console.log(err);
                            })
                    } else if (this.Alltips[this.Alltips.length - 1].answerResult == null) {
                        axios.post("http://localhost:8082/question/addOrUpdateAnswer", {
                            answerStatus: this.answerStatus,
                            content: this.content,
                            // id: this.Id,
                            questionId: this.questionId
                        }, {
                            headers: {
                                'Authorization': localStorage.getItem('Authorization')
                            }
                        }).then(
                            function(response) {
                                alert("添加回答成功")
                                    // alert(response.data.message)
                                console.log(response.data);
                                // that.createcode();
                                // that.getquestionId();
                                // that.getotherquestion();
                                that.alterQuestionType();
                            },
                            function(err) {
                                console.log(err);
                            })
                    }
                    // }
                }
                that.isDisable = false;
                //延长点击
                setTimeout(() => {
                    this.isDisable = true //点击一次时隔两秒后才能再次点击
                    console.log("失效了")
                }, 5000)
            },
            //删除问题
            deletequestion: function() {
                var that = this;
                // console.log("1");
                // console.log(e.currentTarget.id);
                // that.questionId = e.currentTarget.id
                localStorage.setItem("questionId", this.questionId);
                console.log("1")
                if (this.ausername !== this.username) {
                    alert("该问题所属" + this.ausername + "的，你无法删除");
                } else {
                    if (confirm("是否要删除该问题？") == true) {
                        axios.post("http://localhost:8082/question/deleteQuestion?id=" + localStorage.getItem("questionId"), {}, {
                            headers: {
                                'Authorization': localStorage.getItem('Authorization')
                            }
                        }).then(
                            function(response) {
                                alert(response.data.message)
                                console.log(response.data);
                                that.createcode();
                                that.getquestionId();
                                that.getotherquestion();
                                that.content = "",
                                    that.Alltips = []
                            },
                            function(err) {
                                console.log(err);
                            })
                    } else {

                    }
                }
            },
            //举报当前问题(可用）
            report: function() {
                axios.post("http://localhost:8082/user/report", {
                    questionId: localStorage.getItem("questionId"),
                    type: 0
                }).then(
                    function(response) {
                        alert(response.data.message)
                        console.log(response.data);
                        // debugger;
                    },
                    function(err) {
                        console.log(err);
                    })
            },
            //拉黑提问问题的用户
            addblacklist: function() {
                axios.post("http://localhost:8082/blacklist/addBlacklist?id=" + this.questionId, {}, {
                    // axios.post("http://localhost:8082/blacklist/addBlacklist", {}, {
                    // id: localStorage.getItem("questionId"),
                    headers: {
                        'Authorization': localStorage.getItem('Authorization')
                    }
                }).then(
                    function(response) {
                        alert(response.data.message)
                        console.log(response.data);
                        // debugger;
                    },
                    function(err) {
                        console.log(err);
                    })
            },
            share: function() {
                var that = this;
                that.link = "http://127.0.0.1:5500/question/have-question.html?userid=" + localStorage.getItem("id");
                alert("请复制粘贴以下链接后分享给其他人: " + " " + this.link);
            },
            alterQuestionType:function(){
                if (localStorage.getItem("questionCategory") == "1") {
                this.createcode();
                this.mine = true;
                this.question = "已回答";
            } else if (localStorage.getItem("questionCategory") == "2") {
                this.createcode2();
                this.mine = true;
                this.question = "未回答";
            } else if (localStorage.getItem("questionCategory") == "3") {
                this.createcode3();
                this.mine = false;
                this.question = "已收到回答";
                this.questionbox = "questionbox1"
            } else {
                this.createcode4();
                this.mine = false;
                this.question = "未收到回答";
                this.questionbox = "questionbox1"
            }
            this.getquestionId();
            this.getotherquestion();
                
            }
        },
        created() {
            this.id = localStorage.getItem("id");
            this.username = localStorage.getItem("username");
            this.identity = localStorage.getItem("identity");
        },
        mounted: function() {
            if (localStorage.getItem("questionCategory") == "1") {
                this.createcode();
                this.mine = true;
                this.question = "已回答";
            } else if (localStorage.getItem("questionCategory") == "2") {
                this.createcode2();
                this.mine = true;
                this.question = "未回答";
            } else if (localStorage.getItem("questionCategory") == "3") {
                this.createcode3();
                this.mine = false;
                this.question = "已收到回答";
                this.questionbox = "questionbox1"
            } else {
                this.createcode4();
                this.mine = false;
                this.question = "未收到回答";
                this.questionbox = "questionbox1"
            }
            this.getquestionId();
            this.getotherquestion();
        }
    })
</script>

</html>