<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/vue.js"></script>
    <title>提问问题</title>
    <link rel="stylesheet" href="css/have-question.css"></link>
</head>

<body>
    <div id="root">
        <div class="all">
            <div class="setting">

                <ul class="first">
                    <li class="userImage" style="float: left;">
                        <img :src="imgUrl" width="80px" class="Image">
                    </li>
                    <li class="username">{{otherusername}}的其他问题</li>

                </ul>

                <div>
                    <ul class="allquestions">

                        <li>
                            <div class="questions" v-if="nothing">{{message}} </div>
                        </li>
                        <li v-for="item in questionArr">
                            <a href="#" style="text-decoration: none;">
                                <div class="questions" @click="changequestionId($event)" :id="item.id">
                                    <span v-text="item.content">正在获取</span>
                                    <div style="float: right;margin-right: 10px; font-size: small;color: #696969;font-style: italic;" v-text="item.updateTime"></div>
                                </div>
                            </a>
                        </li>

                    </ul>
                </div>

            </div>
            <div class="settingform">
                <div v-show="seen">点击左侧问题可以查看箱子主人的相应的答案</div>
                <li v-for="(item,index) in Alltips">
                    <span style="float: left;">问题{{index+1}}：{{item.questionResult.content}}</span><br>
                    <div class="time">——{{item.questionResult.createTime}}</div>
                    <span style="float: left;" v-if="item.answerResult">回答 ：{{item.answerResult.content}}</span><br>
                    <div class="time" v-if="item.answerResult">——{{item.answerResult.updateTime}}</div>
                </li>

            </div>
            <div class="settingform1">
                <div class="questiontip">“Ask Me Anything !”</div>
                <textarea type="text" class="answerbox" v-model="content" placeholder="请在此处撰写问题"></textarea>
                <input type="button" class="answertip" value="点击发送问题" @click="addquestion" :disabled="isDisable1">
                <!-- 设置disable -->
                <input type="button" :class="answertip" value="点击追问" @click="addmorequestion" :disabled="isDisable">
            </div>
        </div>
    </div>
    <div class="turn">
        <!-- <a href="../home/home2-noanswered.html">
            <span class="back" style="margin-left: 10px;">返回个人主页</span>
        </a> -->
        <a href="../home/home2-noanswered.html">
            <span class="back">分享链接</span>
        </a>
    </div>
    </div>
</body>
<script src="https://unpkg.com/axios/dist/axios.min.js "></script>
<script>
    new Vue({
        el: "#root ",
        data: {
            imgUrl: "images/logo.jpg",
            username: "",
            otherusername: "",
            otherid: "",
            answerStatus: "0",
            content: "",
            id: "1",
            questionArr: [],
            OtherquestionId: "2",
            nothing: false,
            Alltips: [],
            nothing: false,
            message: "",
            seen: true,
            qusername: "",
            answertip: "answertip",
            isDisable: false,
            isDisable1: false
        },
        watch: {
            qusername(val) {
                console.log("qusername被修改了");
                var that = this;
                if (this.qusername != this.username) {
                    that.isDisable = true;
                    that.answertip = "answertip1";
                    console.log("否")
                } else if (this.qusername == this.username) {
                    that.isDisable = false;
                    that.answertip = "answertip";
                    console.log("是")
                } else {
                    console.log("无")
                }
            }
        },
        methods: {
            //获取箱子拥有者公开回答问题列表
            createcode: function() {
                var that = this;
                that.otherid = localStorage.getItem("otherid");
                // that.otherusername = localStorage.getItem("otherusername");
                axios.get("http://localhost:8082/question/getPublicQuestions/" + this.otherid, {}).then(
                    function(response) {
                        if (response.data.data.listResults == null) {
                            that.nothing = true,
                                that.message = "这里还没有问题，快来提问吧";
                        } else {
                            that.questionArr = response.data.data.listResults;
                            localStorage.setItem("otherusername", response.data.data.userInfo.username);
                        }
                        console.log(response.data)
                            // console.log("1")
                    },
                    function(err) {
                        console.log(err);
                    })
            },
            // 查看其他问题答案
            changequestionId(e) {
                var that = this;
                that.seen = false;
                console.log("@" + e.currentTarget.id);
                that.OtherquestionId = e.currentTarget.id
                localStorage.setItem("OtherquestionId", this.OtherquestionId);
                //判断该问题是否是该ID用户提问的,否则追问按钮失效

                axios.get("http://localhost:8082/question/getQuestionAndAnswer/" + this.OtherquestionId, {
                    params: {
                        flag: false
                    }
                }).then(
                    function(response) {
                        if (response.data.data !== null) {
                            that.Alltips = [];
                            console.log(response.data.message);
                            that.Alltips = response.data.data.resultList;
                            that.qusername = response.data.data.qusername;
                            console.log(that.qusername);


                        }
                        console.log(response.data)
                    },
                    function(err) {
                        console.log(err);

                    });


            },
            //添加问题
            addquestion: function() {
                var that = this;
                that.id = localStorage.getItem("id");
                console.log(this.id);
                if (this.id == null) {
                    alert("请登录后再返回该网页提问问题");
                    location.href = "/login/login.html";
                } else if (this.content == "") {
                    alert("提问的问题不能为空")
                } else {
                    axios.post("http://localhost:8082/question/addQuestion", {
                        content: this.content,
                        aid: localStorage.getItem("otherid"),
                        parentQuestion: "0"

                    }, {
                        headers: {
                            'Authorization': localStorage.getItem('Authorization')
                        }
                    }).then(
                        function(response) {
                            alert(response.data.message)
                            console.log(response.data);
                            that.content = "";
                        },
                        function(err) {
                            console.log(err);
                        })
                }
                that.isDisable = false;
                //延长点击
                setTimeout(() => {
                    this.isDisable = true //点击一次时隔两秒后才能再次点击
                    console.log("失效了")
                }, 5000)
            },
            //添加追问
            addmorequestion: function() {
                var that = this;
                that.id = localStorage.getItem("id");
                console.log(this.id);
                if (this.id == null) {
                    alert("请登录后再返回该网页提问问题");
                    location.href = "/login/login.html";
                } else if (this.content == "") {
                    alert("提问的问题不能为空")
                } else {
                    axios.post("http://localhost:8082/question/addQuestion", {
                        content: this.content,
                        aid: localStorage.getItem("otherid"),
                        parentQuestion: this.OtherquestionId
                    }, {
                        headers: {
                            'Authorization': localStorage.getItem('Authorization')
                        }
                    }).then(
                        function(response) {
                            alert(response.data.message)
                            console.log(response.data);
                            that.content = "";
                            that.createcode();
                            //重新获取回答
                            axios.get("http://localhost:8082/question/getQuestionAndAnswer/" + this.OtherquestionId, {
                                params: {
                                    flag: false
                                }
                            }).then(
                                function(response) {
                                    if (response.data.data !== null) {
                                        that.Alltips = [];
                                        console.log(response.data.message);
                                        that.Alltips = response.data.data.resultList;
                                        that.qusername = response.data.data.qusername;
                                        console.log(that.qusername);


                                    }
                                    console.log(response.data)
                                },
                                function(err) {
                                    console.log(err);

                                });

                        },
                        function(err) {
                            console.log(err);
                            alert("你的上一个问题还没有收到回答")
                        })
                }
            },
        },
        created() {
            var other = window.location.search;
            const arr = other.split("=");
            var otherusername = arr[2];
            var otherid = arr[1];
            // alert(otherid);
            this.id = localStorage.getItem("id");
            this.identity = localStorage.getItem("identity");
            localStorage.setItem("otherid", otherid);
            this.otherusername = localStorage.getItem("otherusername");
            this.username = localStorage.getItem("username");
        },

        mounted: function() {
            this.createcode();
        }

    })
</script>

</html>