                    * {
                        margin: 0px;
                        padding: 0px;
                    }
                    
                    span,
                    img {
                        vertical-align: middle;
                    }
                    
                    body,
                    span,
                    li,
                    dd {
                        margin: 0px;
                        padding: 0px;
                        list-style: none;
                    }
                    
                    #root {
                        position: fixed;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        background: url("/login/images/背景2.jpg") no-repeat left bottom fixed;
                        background-size: 100% 100%;
                        overflow: auto;
                    }
                    
                    .all {
                        width: 900px;
                        height: 500px;
                        /* background-color: green; */
                        background-color: white;
                        margin: 0px auto;
                        overflow: auto;
                        border: 2px solid #343434;
                        margin-top: 50px;
                        /* padding-top: 40px; */
                    }
                    
                    .settingform {
                        width: 196px;
                        height: 460px;
                        border: #343434;
                        /* background-color: aqua; */
                        text-align: center;
                        /* padding-top: 50px; */
                        margin: 0px auto;
                        margin-left: 40px;
                        margin-top: 20px;
                        float: left;
                        border: 2px solid #343434;
                    }
                    /* 滚动条 */
                    
                    .first li {
                        width: 170px;
                        height: 75px;
                        line-height: 90px;
                        /* background-color: chocolate; */
                        margin: 0px auto;
                        font-size: 18px;
                        border-bottom: 2px solid #343434;
                    }
                    
                    .pass,
                    .email {
                        padding: 0px;
                        margin: 0;
                        border: 0px;
                        /* border-radius: 10px; */
                        /* background-color: #b3b1b15d; */
                        border-radius: 10px;
                        border: 2px solid #343434;
                        height: 30px;
                        width: 240px;
                        outline: none;
                        text-align: left;
                        font-size: 14px;
                        text-indent: 2px;
                    }
                    
                    span {
                        /* display: line-block; */
                        font-size: 20px;
                        width: 100px;
                        height: 10px;
                        background-color: #343434;
                        color: white;
                        border-radius: 10px;
                        padding: 1px;
                        margin-top: 20px;
                    }
                    
                    .back {
                        width: 120px;
                        height: 30px;
                        border: #343434;
                        background-color: #343434;
                        text-align: center;
                        line-height: 30px;
                        color: white;
                        margin: 0px auto;
                        margin-top: 10px;
                        border: 2px solid #343434;
                        border-radius: 25px;
                    }
                    
                    .setting {
                        float: left;
                        /* background-color: chartreuse; */
                        width: 560px;
                        height: 420px;
                        margin: 0px auto;
                        margin-left: 20px;
                        margin-top: 20px;
                        border: 2px solid black;
                        padding: 20px;
                        /* padding-bottom: 20px; */
                        font-size: 18px;
                        overflow: auto;
                    }
                    /* .content {
                        overflow: auto;
                    }
                     */
                    
                    li {
                        text-align: left;
                        margin-top: 10px;
                    }
                    
                    .userImage {
                        width: 100px;
                        height: 100px;
                        border: 2px solid black;
                        background-color: white;
                        /* margin: 0px auto; */
                        border-radius: 50px;
                        margin-left: 50px;
                        /* text-align: left; */
                    }
                    
                    .Image {
                        border-radius: 48px;
                        margin: 2px auto;
                    }
                    
                    .user {
                        width: 240px;
                        height: 30px;
                        border: 2px solid #343434;
                        border-radius: 10px;
                        text-align: left;
                        margin-left: 8px;
                        /* margin-right: 2px; */
                        text-indent: 2px;
                    }
                    
                    .push {
                        margin-left: 10px;
                    }
                    
                    .birth {
                        width: 50px;
                        height: 20px;
                        border: 2px solid #343434;
                        border-radius: 10px;
                        text-align: center;
                        margin-left: 8px;
                        margin-right: 2px;
                    }
                    
                    .login {
                        padding: 0px;
                        margin: 0;
                        margin-left: 68px;
                        border: 0px;
                        /* border-radius: 10px; */
                        /* background-color: #b3b1b15d; */
                        border-radius: 10px;
                        border: 2px solid #343434;
                        height: 30px;
                        width: 240px;
                        outline: none;
                        text-align: left;
                        font-size: 18px;
                        /* text-indent: 2px; */
                        background: none;
                        font-size: 20px;
                        text-align: center;
                        letter-spacing: 5px;
                        color: #343434;
                    }
                    
                    .logout {
                        padding: 0px;
                        margin: 0;
                        margin-bottom: 30px;
                        margin-top: 30px;
                        border: 0px;
                        /* border-radius: 10px; */
                        background-color: #b3b1b15d;
                        border-radius: 10px;
                        border: 2px solid #343434;
                        height: 30px;
                        width: 240px;
                        font-size: 18px;
                        /* text-indent: 2px; */
                        background: none;
                        font-size: 20px;
                        text-align: center;
                        letter-spacing: 5px;
                        color: #343434;
                    }
                    
                    .introduce {
                        margin-left: 8px;
                        border-radius: 10px;
                        border: 2px solid #343434;
                        height: autopx;
                        width: 240px;
                        outline: none;
                        text-align: left;
                        background: none;
                        font-size: 18px;
                        color: #343434;
                    }
                    
                    .setting::-webkit-scrollbar {
                        width: 4px;
                        /*高宽分别对应横竖滚动条的尺寸*/
                        height: 4px;
                    }
                    /*滚动条里面小方块*/
                    
                    .setting::-webkit-scrollbar-thumb {
                        border-radius: 10px;
                        box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
                        background: #535353;
                    }
                    /*滚动条里面轨道*/
                    
                    .setting::-webkit-scrollbar-track {
                        box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
                        border-radius: 10px;
                        background: #ededed;
                    }
                    
                    a:link {
                        color: #343434;
                        text-decoration: none;
                        list-style: none;
                    }
                    
                    a:visited {
                        color: #343434;
                    }
                    
                    a:hover {
                        width: 196px;
                        height: 90px;
                        color: #fcf9f9;
                        border: 1px solid black;
                        border-radius: 4px;
                        background-color: #343434;
                    }