                        * {
                            margin: 0px;
                            padding: 0px;
                        }
                        
                        span,
                        img {
                            vertical-align: middle;
                        }
                        
                        body,
                        span,
                        li,
                        dd {
                            margin: 0px;
                            padding: 0px;
                            list-style: none;
                        }
                        
                        #root {
                            position: fixed;
                            left: 0;
                            top: 0;
                            width: 100%;
                            height: 100%;
                            background: url("/login/images/背景2.jpg") no-repeat left bottom fixed;
                            background-size: 100% 100%;
                            overflow: auto;
                        }
                        /* .sharebox {
                            width: 100px;
                            height: 100px;
                            z-index: 1;
                        }
                         */
                        
                        .all {
                            width: 960px;
                            height: 540px;
                            /* background-color: green; */
                            background-color: white;
                            margin: 0px auto;
                            /* overflow: auto; */
                            border: 2px solid #343434;
                            margin-top: 50px;
                            /* padding-top: 40px; */
                            z-index: 0;
                        }
                        
                        .setting {
                            float: left;
                            /* background-color: chartreuse; */
                            width: 560px;
                            height: 460px;
                            margin: 0px auto;
                            margin-left: 20px;
                            margin-top: 20px;
                            border: 2px solid black;
                            padding: 20px;
                            /* padding-bottom: 20px; */
                            font-size: 18px;
                            /* overflow: auto; */
                        }
                        /* .content {
                        overflow: auto;
                    }
                     */
                        /* li {
                        text-align: left;
                        margin-top: 10px;
                    } */
                        
                        .userImage {
                            width: 80px;
                            height: 80px;
                            border: 2px solid black;
                            background-color: white;
                            border-radius: 50px;
                            /* margin-left: 50px; */
                            text-align: left;
                            overflow: hidden;
                        }
                        
                        .Image {
                            border-radius: 32px;
                            margin: 2px auto;
                        }
                        
                        .username {
                            margin-left: 20px;
                            line-height: 80px;
                        }
                        /* .user {
                        width: 240px;
                        height: 30px;
                        border: 2px solid #343434;
                        border-radius: 10px;
                        text-align: left;
                        margin-left: 8px;
                        margin-right: 2px;
                        text-indent: 2px;
                    } */
                        /* 滚动条 */
                        
                        .username {
                            float: left;
                        }
                        
                        .allquestions {
                            width: 560px;
                            height: 380px;
                            /* background-color: yellowgreen; */
                            /* border-top: 2px solid black; */
                            /* margin: 0 auto; */
                            margin-top: 10px;
                            overflow: auto;
                            overflow-x: hidden;
                            overflow-y: auto;
                            margin-bottom: 20px;
                        }
                        
                        .questions {
                            /* margin: 0 auto; */
                            background-color: white;
                            width: 500px;
                            height: auto;
                            border: 2px solid #343434;
                            border-radius: 25px;
                            text-align: left;
                            text-indent: 2em;
                            line-height: 40px;
                            /* float: left; */
                            font-size: 16px;
                            color: black;
                            margin-top: 10px;
                            padding: 3px;
                        }
                        /* 右边 */
                        
                        .settingform {
                            width: 296px;
                            height: 500px;
                            border: #343434;
                            /* background-color: aqua; */
                            text-align: center;
                            /* padding-top: 50px; */
                            margin: 0px auto;
                            margin-left: 20px;
                            margin-top: 20px;
                            float: left;
                            border: 2px solid #343434;
                        }
                        
                        .questionbox {
                            height: 160px;
                            margin-top: 20px;
                            /* background-color: aquamarine; */
                            overflow: auto;
                            padding-left: 10px;
                            padding-right: 5px;
                        }
                        
                        .questionbox1 {
                            height: 450px;
                            margin-top: 20px;
                            /* background-color: aquamarine; */
                            overflow: auto;
                            padding-left: 10px;
                            padding-right: 5px;
                        }
                        
                        .questiontip {
                            text-align: left;
                            font-size: 20px;
                            margin-top: 10px;
                            margin: 0 auto;
                        }
                        
                        .time {
                            text-align: right;
                            margin-right: 10px;
                            font-size: small;
                            color: #696969;
                            font-style: italic;
                            margin-bottom: 10px;
                            /* background-color: chartreuse; */
                        }
                        
                        .answerbox {
                            margin: 0;
                            font-size: 18px;
                            font-family: Impact, Haettenschweiler, 'Arial Narrow normal', sans-serif;
                            /* font-family: Impact, 'Arial Narrow light', sans-serif; */
                            text-indent: 2px;
                            margin: 0px auto;
                            height: 190px;
                            width: 260px;
                            border: 2px solid #343434;
                            margin-top: 10px;
                            /* background-color: bisque; */
                        }
                        
                        .answertip {
                            border: 2px solid #343434;
                            /* border-top: 0px solid #343434; */
                            height: 30px;
                            width: 264px;
                            outline: none;
                            text-align: left;
                            font-size: 14px;
                            text-indent: 2px;
                            background: none;
                            font-size: 16px;
                            text-align: center;
                            color: #343434;
                        }
                        
                        .choose {
                            /* background-color: #343434; */
                            font-size: 12px;
                            text-align: left;
                            margin: 0px auto;
                            margin-top: 10px;
                            height: 70px;
                            width: 260px;
                        }
                        
                        .choose li {
                            margin-top: 4px;
                        }
                        
                        select {
                            border: 2px solid #343434;
                        }
                        
                        .report {
                            border: 0;
                            height: 20px;
                            width: 80px;
                            outline: none;
                            text-align: left;
                            font-size: 10px;
                            text-indent: 2px;
                            background-color: #343434;
                            text-align: center;
                            color: white;
                        }
                        
                        .turn {
                            width: 960px;
                            height: 30px;
                            text-align: center;
                            margin: 0 auto;
                            margin-top: 10px;
                        }
                        
                        .back {
                            width: 120px;
                            height: 30px;
                            border: #343434;
                            background-color: #343434;
                            text-align: center;
                            line-height: 30px;
                            color: white;
                            margin: 0px auto;
                            margin-top: 10px;
                            border: 2px solid #343434;
                            border-radius: 25px;
                            padding-left: 10px;
                            padding-right: 10px;
                        }
                        
                         ::-webkit-scrollbar {
                            width: 2px;
                            height: 2px;
                        }
                        
                         ::-webkit-scrollbar-thumb {
                            border-radius: 10px;
                            box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
                            background: #535353;
                        }
                        /*滚动条里面轨道*/
                        
                         ::-webkit-scrollbar-track {
                            box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
                            border-radius: 10px;
                            background: #ededed;
                        }
                        /* a:link {
                            color: #343434;
                            text-decoration: none;
                            list-style: none;
                        }
                        
                        a:visited {
                            color: #343434;
                        }
                        
                        a:hover {
                            width: 196px;
                            height: 90px;
                            color: #fcf9f9;
                            border: 1px solid black;
                            border-radius: 4px;
                            background-color: #343434;
                        } */