* {
    margin: 0px;
    padding: 0px;
}

body,
span,
ul,
li,
dd {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

#root {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url("/login/images/背景2.jpg") no-repeat left bottom fixed;
    background-size: 100% 100%;
}

.content {
    height: 200px;
    width: 240px;
    text-align: center;
    margin: 100px auto;
}

.logo {
    height: 150x;
    border: 2px solid #343434;
    border-radius: 80px;
    margin-bottom: 10px;
}

.login,
.code,
.pass,
.email {
    padding: 0px;
    margin: 0;
    border: 0px;
    /* border-radius: 10px; */
    /* background-color: #b3b1b15d; */
    border-radius: 10px;
    border: 2px solid #343434;
    height: 30px;
    width: 240px;
    outline: none;
    text-align: left;
    font-size: 14px;
    text-indent: 2px;
}

.login,
.code,
.pass {
    margin-top: 10px;
}

.code {
    width: 160px;
    float: left;
}

.code_verify {
    float: left;
    margin-top: 10px;
    /* display: line-block; */
    border: 2px solid #343434;
    height: 30px;
    margin-left: 5px;
    width: 66px;
    text-align: center;
}

.emial_code_verify {
    float: left;
    margin-top: 10px;
    /* display: line-block; */
    border: 2px solid #343434;
    height: 33px;
    margin-left: 1px;
    width: 74px;
    text-align: center;
}

.login {
    background: none;
    font-size: 20px;
    text-align: center;
    letter-spacing: 5px;
    color: #343434;
}

.forget,
.regist {
    margin-top: 10px;
    font-size: 12px;
}

a:link {
    color: #343434;
    text-decoration: none;
}

a:hover {
    color: #fcf9f9;
    border: 1px solid black;
    border-radius: 4px;
    background-color: #343434;
}

.regist {
    float: left;
}

.forget {
    float: right;
}