<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/vue.js"></script>
    <title>注册页面</title>
    <link rel="stylesheet" href="css/login.css"></link>
</head>

<body>
    <div id="root">
        <form class="content" action="http://localhost:8082/user/login" method="post" name="user">
            <ul>
                <li>
                    <img src="images/logo.jpg" width="80px" class="logo">
                </li>
                <li>
                    <input type="text" placeholder="请输入邮箱注册" class="email" v-model="email" /><br/>
                </li>
                <li>
                    <input type="password" class="pass" placeholder="密码(字母+数字)" v-model="password" /><br/>
                </li>
                <li>
                    <input type="password" class="pass" placeholder="确认密码" v-model="confirmPwd" /><br/>
                </li>
                <li>
                    <input type="text" class="code" placeholder="请输入验证码" v-model="code" />
                    <input type="button" class="emial_code_verify" value="发送验证码" @click="sentcode"></input>
                </li>
                <li>
                    <input type="button" value="注册" class="login" @click="register" /><br/>
                </li>
                <li>
                    <a href="login.html" class="regist">用户登录</a>
                </li>
            </ul>
        </form>
    </div>
</body>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    new Vue({
        el: "#root",
        data: {
            email: "",
            password: "",
            confirmPwd: "",
            code: ""
        },
        methods: {
            register: function() {
                // var that = this;
                console.log("");
                axios.post("http://localhost:8082/user/register", {
                    email: this.email,
                    password: this.password,
                    code: this.code,
                    confirmPwd: this.confirmPwd
                }).then(
                    function(response) {
                        console.log(response.data);
                        alert(response.data.message)
                        if (response.data.status === 200) {
                            window.location.href = "login.html";
                        }
                    },
                    function(err) {
                        console.log(err);
                    })
            },
            sentcode: function() {
                email = this.email
                axios.post("http://localhost:8082/user/sendEmail?email=" + email, {
                        email: this.email
                    })
                    .then(function(response) {
                        console.log(email)
                        console.log(response.data.message)
                        alert(response.data.message)
                    }, function(err) {
                        console.log(err);
                    })
            }
        }
    })
</script>

</html>